{
    "extends": "airbnb",
    "env": {
        "commonjs": true
    },
    "parserOptions": {
        "ecmaVersion": 5
    },
    "globals": {
        "Worker": true,
        "SharedWorker": true,
        "onconnect": true,
        "onerror": true,
        "onlanguagechange": true,
        "onmessage": true,
        "onmessageerror": true,
        "onoffline": true,
        "ononline": true,
        "onrejectionhandled": true,
        "onrejectionunhandled": true
    },
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "indent": ["error", 4],
        "no-param-reassign": 0,
        "no-underscore-dangle": 0,
        "no-var": 0,
        "object-shorthand": 0,
        "prefer-template": 0
    }
}
